:root {
    --fuentePrincipal:  'Gothic A1', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;

    --primario: #f1a94e;
    --secundario: #44b3c2;
    --claro: #ffffff;
    --oscuro: #5b5b5b;
}

body {
    font-family: var(--fuenteSecundaria);    
}

.contenedor {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem;
}

p {
    font-family: var(--fuentePrincipal);
    font-size: 1.2rem;  
    line-height: 2rem;

}
.hero {
    background-image: url(../img/freelance-1024x683.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.hero .contenedor {
    display: grid;
    align-content: center;
    height: 100vh;
}

.contenido {
    text-align: center;
}

.titulo { 
    margin: 0;
    color: white;
}

.subtitulo {
    font-size: 1.6rem;
    border: dashed;
}

@media (min-width:768px) {
    .titulo {
        font-size: 2.8rem; 
        margin: 0;
        color: unset;
        line-height:3rem;
        z-index: 1;
    }
    .subtitulo {
        font-size: 2.4rem;
        border: unset;
        line-height: 3rem;
        z-index: 1;
    }
}

.servicios {
    text-align: center;
    margin-top: 3rem;
}

.servicios h2 {
    padding-bottom: .5rem;
}

.servicios h2:after {
    height: .5rem;
    width: 7rem;
    background-color: var(--primario);
    content: '';
    display: block;
    margin: 1rem auto 0 auto;
}

.servicios i {
    font-size: 3rem;
    color: var(--secundario);
}

.servicios p {
    position: relative;
    margin: 2rem;
    padding: 1rem .4rem 1rem 1rem;
    font-size: 1.1rem;
}

.servicios p::before {
    content: '';
  height: 90%;
  width: .3rem;
  position: absolute;
  right: 0;
  top:0; 
  background: linear-gradient(to top, rgba(61,149,174,1) 0%, rgba(94,178,201,1) 43%, rgba(118,193,213,1) 100%);
}

.servicios p::after {
    height: .3rem;
    width: 13rem;
    /*background-color:var(--secundario);*/
    content: '';
    display: block;
    margin: 1rem auto 0 auto;
   background: linear-gradient(to right, rgba(118,193,213,1) 0%, rgba(94,178,201,1) 57%, rgba(61,149,174,1) 100%);
}

@media(min-width:768px) {
    .servicios p::after {
        width: 16.5rem;
    }
}


.otro::after {
    height: .3rem;
    width: 8rem;
    /*background-color:var(--secundario);*/
    content: '';
    display: block;
    margin: -2.7rem 2.4rem 0 auto;
   background: linear-gradient(to right, rgba(118,193,213,1) 0%, rgba(94,178,201,1) 57%, rgba(61,149,174,1) 100%);    
    
}

.otro1::after {
    height: .3rem;
    width: 4rem;
    /*background-color:var(--secundario);*/
    content: '';
    display: block;
    margin: .2rem 2.9rem 0 auto;
   background: linear-gradient(to right, rgba(118,193,213,1) 0%, rgba(94,178,201,1) 57%, rgba(61,149,174,1) 100%);}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        grid-column-gap: 2rem;
    }
}

/*Portafolio*/
.elemento {
    align-content: center;
}
/*
.elemento:last-of-type {
    border-bottom: none;
}*/

@media (min-width:768px) {
    .listado {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        grid-auto-rows: max-content;
    }

    /*.elemento { 
        border: none;
    }*/

    .elemento:nth-child(3) {
        grid-row-end: span 2;
    }
}

/**Footer**/
.footer {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--claro);
    padding: 2rem 0;
    margin-top: 2rem;
}

.footer h3 {
    text-align: center;
}

.footer p {
    text-align: justify;
}

@media (min-width:768px) {
    .footer .contenedor {
        display: grid;
        grid-template-columns: repeat(2,35%) auto;
    }
}


/** Redes Socialaes**/

.sociales ul {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-start;
    justify-content: flex-end;*/
    justify-content: center;
    /*justify-content: space-around; */
    /* justify-content: space-between; */
    flex:1 0 auto;
    list-style: none;
    padding: 0;
    
}
.sociales ul li {
    margin-right: 1rem;
}
.sociales ul li:last-of-type {
    margin-right: 0;
}
.sociales ul li a {
    text-decoration: none;
   
}
.sociales ul li a:before {
    font-family: "Font Awesome 5 Brands";
    color: var(--claro);
    font-size: 1.8rem;
}
.sociales ul li a[href*='facebook.com']::before {
    content: "\f39e";
}
 
.sociales ul li a[href*='twitter.com']::before {
    content: "\f099";
}

.sociales ul li a[href*='github.com']::before {
    content: "\f09b";
}
.sociales ul li a[href*='youtube.com']::before {
    content: "\f431";
}
.sociales ul li a[href*='instagram.com']::before {
    content: "\f16d";
}
.sociales ul li a[href*='pinterest.com']::before {
    content: "\f231 ";
}
.sociales ul li span{
    display: none;
} 
 
  /*3*/
  .view {
    margin: 2rem 0; 
    /*border: 8px solid rgba(194, 23, 23, 0.753);
    border-radius: 8px;*/
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 2px  rgba(62,65,82,1);
    -moz-box-shadow: 0px 0px 10px 2px  rgba(62,65,82,1);
    box-shadow: 0px 0px 10px 2px  rgba(62,65,82,1);
    cursor: pointer;
    border-radius: .8rem;
  }

  @media(min-width:768px) {
      .view {
          margin: 1rem 0;
      }
  }

  .view .mask{
    height: 100%;
    width: 100%;
    position: absolute;/*posicionado relativo a su padre .view que tiene position: relative */
    overflow: hidden;
    top: 0;
    left: 0;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #CAE4DB;
  }

  .view:nth-child(3) .mask {
    grid-template-rows: repeat(12, 1fr);
  }

  .view:nth-child(3) .mask h2 {
      grid-row: 4 / 5;
  }

  .view:nth-child(3) .mask p {
    grid-row: 5 / 7;
    grid-column: 2 / 6;
}

.view:nth-child(3) .mask a.info {
    grid-row: 9 / 10;
}
  .view img {
    display: block;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
  }
  
  .view h2 {
    position: relative;
    font-size: 1.4rem;
    margin: 20px 0 0 0;
    grid-column: 2 / 6;
    grid-row: 1 / 2; 
    color: rgba(26, 24, 24, 0.897);
    text-shadow: 2px 1px 1px white;
  }

  .view h2:after {
    height: .2rem;
    width: 7rem;
    background-color: rgba(26, 24, 24, 0.897);
    content: '';
    display: block;
    margin: .3rem auto 0 auto;
  }

  .view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 0.8rem;
    position: relative;
    padding: 0 1rem;
    text-align: center;
    line-height: 1.4rem;
    grid-column: 1 / 7;
    grid-row: 2 / 3; 
    color: rgba(26, 24, 24, 0.897);
  }
  
  .view a.info {
    display:  block;
    text-decoration: none;
    padding: 10px 10px;
    background: rgba(194, 23, 23, 0.753);
    border-radius: 8px;
    color: white;
    font-size: .7rem;
    font-family: Raleway, serif;
    text-transform: uppercase;  
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

  .view a.info:hover {
    box-shadow: 0 0 5px #000
  }

  .view-tenth img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
  }
  
  .view-tenth .mask {
    transition: all 0.5s linear;
    opacity: 0;
  }

  .view-tenth h2 {
    background: transparent;
    transform: scale(0);
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth p {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth:hover img {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
  }
  
  .view-tenth:hover .mask {
    opacity: 1;
  }
  
  .view-tenth:hover h2,
  .view-tenth:hover p,
  .view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
  }
  